@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  --bg-pattern: url("data:image/svg+xml,%3Csvg width='240' height='240' viewBox='0 0 240 240' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='hsl(var(--primary))' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.77 3.77Z' transform='translate(20 20) scale(1.5)'/%3E%3Cpath d='M21.73 18.23c-1.18-1.57-2.12-3.3-2.73-5.23-1.63 2.1-3.9 3.6-6.5 4.2v4.3c0 .83-.67 1.5-1.5 1.5s-1.5-.67-1.5-1.5v-4.3c-2.4-.5-4.4-1.8-5.9-3.5-1.1 2-2.3 3.8-3.7 5.2-.7.7-1.7.9-2.6.5-.9-.4-1.5-1.3-1.4-2.3.1-1.2.8-2.3 1.8-3.3 2.5-2.5 5.2-4.9 7.8-7.5 .5-.5.7-1.1.7-1.7 0-.6-.2-1.2-.7-1.7C3 8.3 1.2 6.5.4 4.3c-.2-.9.2-1.9 1-2.4s1.8-.3 2.5.5c1.1 1.3 2 2.8 2.8 4.4.9-1.3 2.1-2.3 3.5-3.1V.5c0-.8.7-1.5 1.5-1.5s1.5.7 1.5 1.5v3.2c1.4.8 2.6 1.8 3.5 3.1.8-1.6 1.7-3.1 2.8-4.4.7-.8 1.7-1 2.5-.5s1.2 1.5 1 2.4c-.8 2.2-2.6 4-4.5 5.5-.5.5-.7 1.1-.7 1.7 0 .6.2 1.2.7 1.7 2.6 2.6 5.3 5 7.8 7.5 1 1 1.7 2.1 1.8 3.3.1 1-.5 1.9-1.4 2.3-.9.4-1.9.2-2.6-.5z' transform='translate(120 130) scale(1.5)'/%3E%3Cpath d='M22.7 19.3 16 26l-3.4-3.4a2 2 0 0 0-2.8 0L3.3 29.1a2 2 0 0 0 0 2.8l2.8 2.8c.8.8 2 .8 2.8 0l2.8-2.8 3.4-3.4 1.4 1.4-1.8 1.8a2 2 0 0 0 0 2.8l1.4 1.4c.8.8 2 .8 2.8 0l7.1-7.1a2 2 0 0 0 0-2.8l-1.4-1.4a2 2 0 0 0-2.8 0l-1.8 1.8 1.4 1.4-3.4 3.4-2.8-2.8 6.3-6.3-3.2-3.2-6.3 6.3a2 2 0 0 0 0 2.8l2.8 2.8c.8.8 2 .8 2.8 0l2.8-2.8 3.4 3.4' transform='translate(200 80) scale(1.5)'/%3E%3Cpath d='m13.4 11.6 2.1 2.1M17.8 10.2 12 16m-3.4-6.6-2.1-2.1M8.6 13.4 14 8m-6.8-5.3-2.1 2.1M7.2 4.2 3 8.4m9.4-1.2-2.1-2.1m1.4 3.5-5.6-5.6' transform='translate(80 180) scale(1.5)'/%3E%3C/g%3E%3C/svg%3E");
  background-image: var(--bg-pattern);
}

@layer base {
  :root {
    --background: 210 39% 17%;
    --foreground: 210 40% 98%;
    --card: 210 39% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 210 39% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 186 44% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 176 55% 58%;
    --accent-foreground: 210 39% 12%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 25%;
    --input: 210 40% 25%;
    --ring: 186 44% 48%;
    --chart-1: 186 44% 48%;
    --chart-2: 176 55% 58%;
    --chart-3: 210 39% 17%;
    --chart-4: 210 40% 60%;
    --chart-5: 210 40% 98%;
    --radius: 0.5rem;
    --sidebar-background: 210 39% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 186 44% 48%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 40% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 40% 25%;
    --sidebar-ring: 186 44% 48%;
  }
  .dark {
    --background: 210 39% 17%;
    --foreground: 210 40% 98%;
    --card: 210 39% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 210 39% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 186 44% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 176 55% 58%;
    --accent-foreground: 210 39% 12%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 25%;
    --input: 210 40% 25%;
    --ring: 186 44% 48%;
    --chart-1: 186 44% 48%;
    --chart-2: 176 55% 58%;
    --chart-3: 210 39% 17%;
    --chart-4: 210 40% 60%;
    --chart-5: 210 40% 98%;
    --sidebar-background: 210 39% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 186 44% 48%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 40% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 40% 25%;
    --sidebar-ring: 186 44% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
